@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the default background color for the entire page */
body {
  @apply bg-zinc-950 text-white min-h-screen font-sans;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mask-linear-fade {
    mask-image: linear-gradient(to right, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 85%, transparent 100%);
  }
}
